{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/questions.css' %}" rel="stylesheet"/>
    <title>联系我们</title>
	<link rel="icon" href="/static/login/image/kanjian.png">
</head>
	<body>
		<a href="/index/"><img class="page-logo" src="/static/login/image/KJlogo.png"></a>
		<div class="container">
			<div class="row">
			<h3>关于看荐</h3>
			<h6>暂无</h6>
			<br><br>
			<h3>联系我们</h3>
			<h5>广告投放合作：</h5>	
			<h6>电子邮件：1393198308@qq.com</h6>
			<hr>
			<h5>封号咨询：</h5>	
			<h6>电子邮件：1393198308@qq.com</h6>
			<h6>处理周期：3-5 个工作日（不包括周六日及法定节假日）</h6>
			<h6>请于 60 天内，将具体申诉需求配合看荐账号、用户名称、所绑定手机号码，发送至 1393198308@qq.com 进行咨询。</h6>
			<hr>
			<h6>如需要更多帮助，请前往<a href="/help/">帮助与反馈</a>页面，或电子邮件：1393198308@qq.com</h6>
			</div>
		
		</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>